<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the listings</h1>
    <form action="/listings/new">
        <button type="submit">Create new Listing</button>
    </form>
    <ul>
    <% for(let list of listings) { %>
        <li>
            <a href="/listings/<%= list._id %>"><%= list.title %></a>&nbsp;
        </li>
    <% } %>
    </ul>
</body>
</html>